@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Great+Vibes&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ga+Maamli&family=Great+Vibes&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    
/* >>>>>  */
    .mainRegistration{
        height: 100vh;
        width: 100%;
    }
/*  */

/* >>>>> INPUT BOX STYLES <<<<< */
    .box{
        padding: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .boxTitle{
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700px;
        font-style: normal;
    }

    .inputBox{
        border: none;
        border-radius: 15px;
        background-color: rgba(128, 128, 128, 0.541);

        height: 50px;
        width: 16rem;
        padding: 14px;

        font-size: 18px;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700px;
        font-style: normal;
    }
/*  */

/* >>>>> FORM SECTION STYLES <<<<< */
    .formType{
        height: 100%;
        width: 100%;

        display: flex;
    }
/*  */

/* >>>>> CREATE SECTION <<<<< */
    .create{
        width: 50%;
        height: 100%;
        
        border: 2px solid black;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .create h1{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400px;
        font-style: normal;
        font-size: 2rem;
        letter-spacing: 1px;
    }
/*  */

/* >>>>> RESET SECTION <<<<< */
    .reset{
        width: 50%;
        height: 100%;

        background-color: black;
    }